.Listurls {}

.redText {
  color: red;
  margin-right: 1em;
  cursor: pointer;
}

.error {
  color: red;
  margin-right: 1em;
  cursor: pointer;
  width: 15em;
}

.success {
  width: 15em;
}

ul {
  margin-top: 1em;
}

.button {
  margin-left: 1em;
  margin-right: 1em;
}

.shortLink {
  margin-left: 2em;
}

.actualLink {
  font-weight: bold;
}
